# URL pública del backend Laravel principal
EXPO_PUBLIC_CORE_API_URL=https://petsworld-api.onrender.com/api

# URL pública del backend NestJS de adopciones
EXPO_PUBLIC_ADOPTIONS_API_URL=https://patsworld-backend.onrender.com

